<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @membership.name %>
</p>

<p>
  <b>Email:</b>
  <%= @membership.email %>
</p>

<p>
  <b>Interests:</b>
  <%= @membership.interests %>
</p>

<p>
  <b>Comments:</b>
  <%= @membership.comments %>
</p>


<%#= link_to 'Edit', edit_membership_path([@project, @membership]) %> |
<%#= link_to 'Back', memberships_path(@project) %>
