<p id="notice"><%= notice %></p>

<p style="text-align:center"><!--HACK-->
<%= image_tag "mission_accomplished.jpg"%>
</p>

<p>
Thanks, <%= @membership.name %>. <%= link_to @project.user.name, @project.user.link %> has been notified of your interest in <%= link_to @project.title, @project %>.
</p>