<div class="project">
  <div class="project-container">
    <%= link_to project, :class => "modal" do %>
      <%= image_tag project.image.thumb.url, :alt => project.title, :class => "project-img", :width => 200, :height => 170 %>
    <% end %>
    <h4>Looking For:</h4>
    <ul>
      <% project.looking_for.each do |need| %>
      <li><%= need %></li>
      <% end %>
    </ul>
    <%= link_to "Join This Project", new_project_membership_path(project), :class => "inset-button join-button modal" %>
  </div>

  <h3><%= link_to project.title, project, :class => "modal" %></h3>
  <h5><%= project.author %></h5>
  <div class="project-description"><%= simple_format truncate(project.description, :length => 250, :omission => link_to(raw(' &hellip;'), project, :class=>"modal") ) %></div>  
</div>