<div class="project">
  <div class="project-container">
    <%= link_to project do %>
      <img src="" class="project-img">
    <% end %>
    <h4>Looking For:</h4>
    <ul>
      <% project.looking_for.each do |need| %>
      <li><%= need %></li>
      <% end %>
    </ul>
    <a href="" class="inset-button join-button">Join this project</a>
  </div>

  <h3><%= link_to project.title, project %></h3>
  <h5><%= project.author %></h5>
  <div class="project-description"><%= project.description %></div>  
</div>