<section id="showcase">
  <div class="content">
    <a href="#top" class="top-link">Top</a>
    <h1><%= image_tag "showcase.png", :alt => "Showcase" %></h1>

  	<h3><%= image_tag "view_and_join.png", :alt => "View and join existing MakeCMU projects" %></h3>
	
    <%= render :partial => "submit_arrow" %>

    <div class="projects">
      <%= render :partial => "project", :collection => @projects %>
      <% if @projects.size > 4 %>
        <%= link_to "More Projects...", projects_path %>
      <% end %>
    </div>

  </div>
</section>