<%= form_for @project, :html => { :multipart => true } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 30 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "30x5" %>
  </div>
  <div class="field">
    <%= f.check_box :seeking_collaborators %>
    <%= f.label :seeking_collaborators %>
  </div>
  <div class="field">
    <%= f.label :looking_for %><br />
    <% 0.upto(2) do |i| %>
<%# TODO: make this less ugly %>
      <input name="project[looking_for][]" type="text" value="<%= @project.looking_for.try(:[], i) %>"><br />
    <% end %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= image_tag(@project.image.tiny.url, :size => "50x50") if @project.image? %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
