<h1 id="next-meeting-title">Edit Project</h1>

<%= render 'form' %>

<p>
<%= link_to 'Delete this project', project_path(@project), :method => :delete, :confirm => "Are you sure?" %>
</p>

<% if can?(:manage, @project) and @project.seeking_collaborators %>
	<h4>Interested People <%= link_to '[CSV]', project_memberships_url(@project, :format => :csv)%></h4>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Interests</th>
			<th>Comments</th>
		</tr>		
		<% @project.memberships.each do |membership| %>
			<tr>
				<td><%= membership.name %></td>
				<td><%= membership.email %></td>
				<td><%= membership.interests %></td>
				<td><%= membership.comments %></td>
			</tr>
		<% end %>
	</table>
<% end %>