<%= render :partial => "home/header" %>

<section>
  <div class="content">
    <h1><%= image_tag "showcase.png", :alt => "Showcase" %></h1>

    <h3><%= image_tag "view_and_join.png", :alt => "View and join existing MakeCMU projects" %></h3>
    <%= render :partial => "home/submit_arrow" %>

    <div class="projects">
    <%= render :partial => "home/project", :collection => @projects %>
    </div>

    <%= paginate @projects %>
  </div>
</section>

<%= render :partial => "home/footer" %>