<h1 id="next-meeting-title">
	<%= @project.title %>
	<%= link_to ' [Manage]', edit_project_path(@project) if can? :edit, @project %>
</h1>

<section id="project-left">

<%= image_tag @project.image.thumb.url, :class=>"project-img" %>

<h5>Looking For:</h5>
<ul id="looking-for-list">
  <% @project.looking_for.each do |need| %>
  <li><%= need %></li>
  <% end %>
</ul>

</section>

<section id="project-right">

<p class="long-project-description">
<%= simple_format @project.description %>
</p>

<%= link_to "Join This Project", new_project_membership_path(@project), :class => "inset-button join-button" unless can? :manage, @project %>

</section>