<h1>
	<%= @project.title %>
	<%= link_to ' [Edit]', edit_project_path(@project) if can? :edit, @project %>
</h1>

<p>
<%= link_to @project.user.link do %>
	<%= image_tag @project.user.image_url %>
	<%=@project.user.name%>
<% end %>
</p>

<p>
<%= @project.description %>
</p>

<h4>Looking For:</h4>
<ul>
  <% @project.looking_for.each do |need| %>
  <li><%= need %></li>
  <% end %>
</ul>

<h4>Updated:</h4>
<%= l @project.updated_at, :format => :long %>

<% if can? :manage, @project %>
	<h4>Interested People <%= link_to '[CSV]', project_memberships_url(@project, :format => :csv)%></h4>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Interests</th>
			<th>Comments</th>
		</tr>		
		<% @project.memberships.each do |membership| %>
			<tr>
				<td><%= membership.name %></td>
				<td><%= membership.email %></td>
				<td><%= membership.interests %></td>
				<td><%= membership.comments %></td>
			</tr>
		<% end %>
	</table>
<% end %>
<%= link_to "Join This Project", new_project_membership_path(@project), :class => "inset-button join-button modal" unless can? :manage, @project %>