<h1>
	<%= @project.title %>
	<%= link_to ' [Edit]', edit_project_path(@project) if can? :edit, @project %>
</h1>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Author:</b>
  <%= @project.author %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Looking for:</b>
  <%= @project.looking_for %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
<% if can? :manage, @project %>
	<h4>Interested People <%= link_to '[CSV]', project_memberships_url(@project, :format => :csv)%></h4>
	<table border="1">
		<tr>
			<th>Name</th>
			<th>E-Mail</th>
			<th>Interests</th>
			<th>Comments</th>
		</tr>		
		<% @project.memberships.each do |membership| %>
			<tr>
				<td><%= membership.name %></td>
				<td><%= membership.email %></td>
				<td><%= membership.interests %></td>
				<td><%= membership.comments %></td>
			</tr>
		<% end %>
	</table>
<% end %>